.carousel {
    border-radius: 10px;
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 10px 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.15);

    h2 {
        position: relative;
        top: 12px;
        padding-bottom: 15px;
    }
}

.art-swiper img {
    margin: auto;
    width: 280px;
    height: 250px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    &:hover {
        cursor: pointer;
    }
}

.mat-stroked-button {
    width: 45%;
    margin: auto;
    background: none;
    margin-top: 15px;
    margin-bottom: 5px;
    border: solid 1px;
    border-radius: 12px;
    font-weight: 400;
}

/*#region-----------------------Responsive_Layout-------------------------*/

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 2560px) {
}

/*#endregion*/
