<body>
  

    <div class="Dashboard-Box">
        <div class="Dashboard-Logo">
            <img src="/_Images-Videos/_images/Extras/Silhouette_small.png">
        </div>

        <div class="Dashboard-Name">
            <h2>Chaos & Art</h2>
        </div>

        <div class="Dashboard-Links">
            <a href="/Home.html">Website</a>
            <a href="https://github.com/Chaos-And-Art">GitHub</a>
            <a href="https://www.youtube.com/channel/UCiKZ7lGT_YsVageXRisVCOA">YouTube</a>
            <a href="https://www.instagram.com/chaos.and.art_/">Instagram</a>
            <a href="https://twitter.com/_ChaosAndArt_">Twitter</a>
            <a class="Patreon_Popup">Patreon</a>
        </div>

        <div class="Dashboard-Icons">
            <a href="https://www.youtube.com/channel/UCiKZ7lGT_YsVageXRisVCOA">
                <img src="/_Images-Videos/Icons/youtube.png">
            </a>
            <a href="https://www.instagram.com/chaos.and.art_/">
                <img src="/_Images-Videos/Icons/instagram.png">
            </a>
            <a href="https://twitter.com/_ChaosAndArt_">
                <img src="/_Images-Videos/Icons/twitter.png">
            </a>
            <a href="https://github.com/Chaos-And-Art">
                <img src="/_Images-Videos/Icons/github.png">
            </a>
            <a class="Patreon_Popup">
                <img src="/_Images-Videos/Icons/patreon.png">
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/_Utils.js"></script>

</body>
