<div class="Page Page_Content">
    <div class="Title">
        <h2>Custom Development Solutions</h2>
    </div>

    <!--#region Intro-->
    <div class="Intro">
        <br>
        <p>~ Welcome to Chaos & Art. We want to work with you to help take your ideas and
            ambitions and turn it into the App, Game, or Website you desire. We also offer Art commissions relating
            to Photography, Videography, Drawings, and Paintings. When the time comes, Clients will
            meet with Chaos & Art and form a contract. This contract is to protect you (The Client) and us (Chaos &
            Art). Listed below is a guideline full of information and details concerning our contract to help you
            make your final decision to move forward and contact us.
        </p>
        <br>
        <p>~ Read our terms below carefully before reaching out to discuss business inquiries. Please refer to our
            Privacy Policy, and our Terms and Conditions for more information.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Contents-->
    <div class="Contents">
        <h2>Contents</h2>
        <h3>1. Main Form of Contact</h3>
        <h3>2. Fees and Payments</h3>
        <h3>3. Cancellation and Kill Fee</h3>
        <h3>4. Additional Work</h3>
        <h3>5. Copyright and Ownership</h3>
        <h3>6. Contractor Information</h3>
    </div>
    <!--#endregion-->

    <!--#region Main Form of Contact 1-->
    <div class="PrivacyTerms">
        <h2>1. Main Form of Contact</h2>
        <p>~ Who will be your main form of contact? Only one person with authority is needed to keep in touch with
            Chaos & Art for ease of development. In some circumstances two people with authority is okay, but one is
            preferred. This person will be accountable for responding to my queries, processing my invoices and
            reviewing my work. This person also has the authority to communicate, make changes, and ultimately guid
            the project to its final draft.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Fees and Payments 2-->
    <div class="PrivacyTerms">
        <h2>2. Fees and Payments</h2>
        <p>~ Fees and Payments depend on the type of project. A major project from beginning to end will run
            more expensive, while touch ups or simple changes on an existing project are cheaper.
        </p>
        <br>
        <p>~ After brainstorming and determining what the client wants, we'll settle on a price. In some cases Chaos
            & Art may charge an hourly rate instead of a fixed price. If the price is fixed, we take a 35% security
            deposit of the total price, and will charge the remaining on completetion. For hourly rates, we request
            payment per every 24 hours of work until completetion of the project.
        </p>
        <br>
        <p>~ Why a Security Deposit? A deposit will let you secure a spot in our schedule. If a client hasn't
            booked their position in advance, we cannot guarantee we'll work on your project when you need us to.
            Someone who has paid the security deposit will have our time allocated to them.
        </p>
        <br>
        <h2>2.1 Late Payment Penalties</h2>
        <p>~ There are Late Payment Penalties set in place. Penalties will differ upon the project and will be
            explicitly stated within each contract. One example of a penalty would be a 5% additional charge for
            every 7 days without payment.
        </p>
        <br>
        <p>~ Chaos & Art understands finances can be tight at times, and under the circumstance may alter a late
            penalty in favor of the client. Refer to your personal contract for more details.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Cancellation and Kill Fee 3-->
    <div class="PrivacyTerms">
        <h2>3. Cancellation and Kill Fee</h2>
        <p>~ A cancellation fee will be dependent on 2 different phases within the project.</p>
        <p>1: The Beginning. If the project is in the beginning stages and we have determined that much of our time
            hasn't been used on your project we'll offer a full refund including the initial deposit. (Usually
            within the first few hours on small projects, and days on bigger projects.)
        </p>
        <br>
        <p>2: The Middle and near the End. If the project is cancelled within the middle or near the end of
            development, we keep the inital security deposit, and will charge a kill fee. A kill fee is compensation
            for the time that we spent working on your project, and rates depend on how much time was spent working
            on said project. Projects near the end of their completion will be 75% to 90% of remaining project price
            while projects midway through production will be 50% of remaing project price.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Additional Work 4-->
    <div class="PrivacyTerms">
        <h2>4. Changes and Revisions</h2>
        <p>~ Once we have finished the project the client will have 24 hours to make note of any changes they'd like
            to make. After the 24 hours, Chaos & Art will make changes accordingly, all included in the original
            price
            point and submit the final product to the client. For additional and future changes, an hourly rate will
            be applied.
        </p>
        <br>
        <h2>4.1 Additional Options </h2>
        <p>~ Clients who had Websites built for them have a couple options once their project has been completed.
            The first option would be to take the completed content and do what they will with it. For the second
            option, Chaos & Art can take the completed Website and for a monthly fee host it under the desired and
            available domain of the clients' choosing. Monthly fees range from $50 to $1500, depending on the
            website, the traffic, and minimal client revisions.
        </p>
        <br>
        <p>~ Clients who had Apps or Games made have the opportunity to either take the project as is, or for a
            percentage of the apps or games income, implement updates and improvments. </p>
    </div>
    <!--#endregion-->

    <!--#region Copyright and Ownership 5-->
    <div class="PrivacyTerms">
        <h2>5. Copyright and Ownership</h2>
        <p>~ A final copy of our client's project will be given upon completion. However, clients won't fully own
            their project until it has been completly paid for. Clients who have fully paid for their project will
            get ownership of the final visible copy, not the ideas or thoughts that may have been brought up during
            development.
        </p>
        <br>
        <h2>5.1 My Portfolio Content </h2>
        <p>~ Chaos & Art may want to use our client's project as an example of some of the work we do. Chaos & Art
            reserves the right to use extracts from the projects we've worked on for marketing and
            promotional purposes. However out of common courtesy, we will check in on a case to case basis with our
            clients informing on what we may use.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Contractor Information 6-->
    <div class="PrivacyTerms">
        <h2>6. Contractor Information</h2>
        <p>~ Chaos & Art is a freelance contractor. We are not employees. As a freelance contractor we're free to
            work on our own schedule, set our own deadlines, set our own prices, work on projects from other
            clients, and we get to choose which projects we work on.
        </p>
        <br>
        <h2>6.1 Illness or Injury </h2>
        <p>~ Things can change unexpectedly, and Chaos & Art may have to act accordingly with unplanned occurances.
            In the case this happens, we reserve the right to outsource our work to another contractor, postpone
            the job for a set period of time, or we may offer a full or partial refund.
        </p>
        <br>
        <p>~ If the project needs to be outsourced to another contractor, transitions and transfers of data will
            be done with the full permission and acknowledgement of our client, and with accordance to our Privacy
            Policy.
        </p>
    </div>
    <!--#endregion-->

</div>