.Footer {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    background: #222;
}

.Contact button {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background: transparent;
    color: white;
    border-radius: 12px;
    border: solid 1px;
    padding: 5px 15px 5px;
    font-size: 14px;
    font-weight: 400;
}

.Contact button:hover,
.Contact button:focus,
.Contact button:active {
    background: #ccc !important;
    border-color: #ccc !important;
    color: black;
}

.Closer {
    text-align: center;
    color: white;
    font-size: 15px;
}

.Closer a {
    color: white;
    padding: 20px;
    font-size: 12px;
}

/*#region-----------------------Responsive_Layout-------------------------*/

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 425px) {
    .Contact button {
        width: 35%;
    }
}

@media screen and (min-width: 768px) {
    .Contact button {
        width: 20%;
    }
}

@media screen and (min-width: 1024px) {
    .Contact button {
        width: 18%;
    }
}

@media screen and (min-width: 1440px) {
    .Contact button {
        width: 12%;
    }
}

@media screen and (min-width: 2560px) {
    .Contact button {
        width: 8%;
    }
}

/*#endregion*/
