<div class="Apps-Card-Container" *ngIf="router.url == '/Apps'">
    <mat-card *ngFor="let card of cardData">
        <div>
            <img mat-card-image [defaultImage]="default" [lazyLoad]="card.imgSrc">
        </div>
        <mat-card-content>
            <h4>{{card.id}}</h4>
            <h2>App 1</h2>
            <p> This is a temporary placeholder. This layout is not final. Available apps and games are
                almost here! I appreciate you taking the time to explore my website. :)
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button><img src="/assets/_misc/Google.png" alt="Google Play"></button>
            <button mat-button><img src="/assets/_misc/Apple.png" alt="App Store"></button>
        </mat-card-actions>
    </mat-card>
</div>

<div class="flex-grid" *ngIf="router.url == '/Chaos'">
    <mat-card *ngFor="let card of cardData">
        <div>
            <img mat-card-image [src]="card.imgSrc">
        </div>
        <mat-card-content>
            <h4>{{card.id}}</h4>
            <h2>App 1</h2>
            <p> This is a temporary placeholder. This layout is not final. Available apps and games are
                almost here! I appreciate you taking the time to explore my website. :)
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button><img src="/assets/_misc/Google.png" alt="Google Play"></button>
            <button mat-button><img src="/assets/_misc/Apple.png" alt="App Store"></button>
        </mat-card-actions>
    </mat-card>
</div>