<div *ngIf="data.type === 'music'">
    <h2 mat-dialog-title>Music Coming Soon!</h2>
    <mat-dialog-content class="mat-typography">
        <p>The Music page is currently in development, but will be available in the near future!</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'chaos'">
    <h2 mat-dialog-title>Chaos Coming Soon!</h2>
    <mat-dialog-content>
        <p>The Chaos page is currently in development, but will be available in the near future!</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'googlePlay'">
    <h2 mat-dialog-title>Google Play Coming Soon!</h2>
    <mat-dialog-content>
        <p>Our applications and games will be avaiable soon on Google play! Thank you for your patience!</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'appStore'">
    <h2 mat-dialog-title>App Store Coming Soon!</h2>
    <mat-dialog-content>
        <p>Our applications and games will be avaiable soon on Apple App Store! Thank you for your patience!</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'contactFormSuccess'">
    <h2 mat-dialog-title style="color: rgb(115, 200, 115);">Successfully Sent</h2>
    <mat-dialog-content>
        <p>Thank you for contacting us. We will be in touch with you at our earliest convenience.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial style="color: rgb(115, 200, 115);">OK</button>
    </mat-dialog-actions>
</div>

<div *ngIf="data.type === 'contactFormFailed'">
    <h2 mat-dialog-title style="color: rgb(250, 100, 100);">Submission Failed</h2>
    <mat-dialog-content>
        <p>The form could not be sent. Please try again later.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close cdkFocusInitial style="color: rgb(250, 100, 100);">OK</button>
    </mat-dialog-actions>
</div>