<div class="Home_Cover">
    <h2>Chaos & Art</h2>
    <p>Creations derived from time</p>

    <button class="Home_Cover_Button" (click)="onExploreButton();">Explore</button>
</div>

<div class="background">
    <ng-particles id="tsparticles" [options]="options"></ng-particles>
</div>

<div>
    <h2>A TITLE</h2>
    <p>
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
        The Chaos page is currently in development, but will be available in the near future!
    </p>
</div>