<div class="Home_Cover">
    <h2>Chaos & Art</h2>
    <p>Creations derived from time</p>

    <button class="Home_Cover_Button" (click)="onExploreButton();">Explore</button>
</div>

<div class="background">
    <ng-particles id="tsparticles" [options]="options"></ng-particles>
</div>

<div class="Box" id="exploreStart">
    <h2>Chaos</h2>
    <p>Chaos is where I like to throw random projects I work on for fun. The
        interactive changing background seen above is one example of those projects. Some are simply visually
        appealing, while others can be interacted with and customized. I hope you find
        something exciting or thrilling while exploring them. :)
    </p>

    <button routerLink="/Chaos" class="Home_Cover_Button">Chaos Projects</button>
</div>

<app-art-carousel></app-art-carousel>
<app-apps-carousel></app-apps-carousel>