.background {
    width: 100%;
    height: 100vh;
}

.Home_Cover {
    width: 85%;
    height: auto;
    margin: auto;
    color: #ddd;
    background: #111;
    opacity: 0.9;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Home_Cover_Button {
    width: 45%;
    margin: auto;
    color: #ddd;
    background: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 15px 5px;
    border: solid 1px #ddd;
    border-radius: 12px;
    font-size: 14px;
}

.Home_Cover_Button:hover,
.Home_Cover_Button:focus,
.Home_Cover_Button:active {
    background: #bbb !important;
    border-color: #bbb !important;
    color: black;
}

.Box {
    width: 100%;
    height: auto;
    margin: auto;
    background: #222;
    color: #bbb;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 15px 5px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    p {
        width: 95%;
        margin: auto;
    }
}

/*#region-----------------------Responsive_Layout-------------------------*/

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 375px) {
    .Home_Cover {
        width: 75%;
    }
    .Box {
        width: 100%;
        p {
            width: 95%;
            margin: auto;
        }
        button {
            width: 50%;
        }
    }
}

@media screen and (min-width: 425px) {
    .Home_Cover {
        width: 75%;
    }
    .Box {
        width: 100%;
        p {
            width: 95%;
            margin: auto;
        }
        button {
            width: 40%;
        }
    }
}

@media screen and (min-width: 768px) {
    .Home_Cover {
        width: 45%;
    }
    .Box {
        width: 100%;
        p {
            width: 75%;
            margin: auto;
        }
        button {
            width: 30%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .Home_Cover {
        width: 30%;
    }
    .Box {
        width: 100%;
        p {
            width: 65%;
            margin: auto;
        }
        button {
            width: 20%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .Home_Cover {
        width: 22%;
    }
    .Box {
        width: 100%;
        p {
            width: 55%;
            margin: auto;
        }
        button {
            width: 15%;
        }
    }
}

@media screen and (min-width: 2560px) {
    .Home_Cover {
        width: 15%;
    }
    .Box {
        width: 100%;
        p {
            width: 45%;
            margin: auto;
        }
        button {
            width: 10%;
        }
    }
}

/*#endregion*/
