<div class="Top-Theme-Slider-Background">
    <div class="Top-Theme-Slider">
        <mat-slide-toggle color="primary" [checked]="isDarkModeInit" labelPosition="before" (change)="toggleDarkMode()">
            <mat-icon *ngIf="isDarkModeInit">dark_mode</mat-icon>
            <mat-icon *ngIf="!isDarkModeInit">brightness_7</mat-icon>
        </mat-slide-toggle>
        <div class="Theme-Name">
            <p *ngIf="isDarkModeInit">Dark Mode</p>
            <p *ngIf="!isDarkModeInit">Light Mode</p>
        </div>
    </div>
</div>

<div class="Header">
    <a routerLink="/" class="Company-Name Nav_Button">Chaos & Art</a>

    <nav class="Top-Nav">
        <a routerLink="/Home" routerLinkActive="Active-Page" class="Nav_Button">Home</a>
        <a (click)="openChaosDialog();" class="Nav_Button ">Chaos</a>
        <a routerLink="/Art" routerLinkActive="Active-Page" class="Nav_Button">Art</a>
        <a routerLink="/Apps" routerLinkActive="Active-Page" class="Nav_Button">Apps</a>
        <a (click)="openMusicDialog();" class="Nav_Button">Music</a>
    </nav>
</div>

<input id="Nav_Menu" class="Nav_Menu" type="checkbox" />
<label class="Nav_Menu" for="Nav_Menu">
    <i></i>
</label>
<nav class="Side_Nav">
    <div class="Side_Nav_Content">
        <div class="Side_Nav_Links">
            <a routerLink="/Home" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Home</a>
            <a (click)="clickOut(); openChaosDialog();" class="Nav_Button ">Chaos</a>
            <a routerLink="/Art" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Art</a>
            <a routerLink="/Apps" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Apps</a>
            <a (click)="clickOut(); openMusicDialog();" class="Nav_Button">Music</a>
        </div>

        <div class="Side_Nav_Closer">
            <div class="Side_Nav_Border_1">-</div>
            <a class="Side_Nav_Contact" routerLink="/Contact" (click)="clickOut();">CONTACT US</a>
            <a class="Side_Nav_Dashboard" routerLink="/">DASHBOARD</a>
            <div class="Side_Nav_Border_2">-</div>
        </div>

        <div class="Side-Theme-Slider">
            <mat-slide-toggle color="primary" [checked]="isDarkModeInit" labelPosition="before" (change)="toggleDarkMode()">
                <mat-icon *ngIf="isDarkModeInit">dark_mode</mat-icon>
                <mat-icon *ngIf="!isDarkModeInit">brightness_7</mat-icon>
            </mat-slide-toggle>
            <div class="Theme-Name">
                <p *ngIf="isDarkModeInit">Dark Mode</p>
                <p *ngIf="!isDarkModeInit">Light Mode</p>
            </div>
        </div>
    </div>
</nav>