<div class="Header">
    <a routerLink="/" class="Company-Name Nav_Button">Chaos & Art</a>
    <nav class="Top-Nav">
        <a routerLink="/Home" routerLinkActive="Active-Page" class="Nav_Button">Home</a>
        <a routerLink="/Chaos" routerLinkActive="Active-Page" class="Nav_Button ">Chaos</a>
        <a routerLink="/Art" routerLinkActive="Active-Page" class="Nav_Button">Art</a>
        <a routerLink="/Apps" routerLinkActive="Active-Page" class="Nav_Button">Apps</a>
        <a (click)="openMusicDialog();" class="Nav_Button Music_Popup">Music</a>
    </nav>
</div>

<input id="Nav_Menu" class="Nav_Menu" type="checkbox" />
<label class="Nav_Menu" for="Nav_Menu">
    <i></i>
</label>
<nav class="Side_Nav">
    <div class="Side_Nav_Content">
        <div class="Side_Nav_Links">
            <a routerLink="/Home" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Home</a>
            <a routerLink="/Chaos" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button ">Chaos</a>
            <a routerLink="/Art" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Art</a>
            <a routerLink="/Apps" routerLinkActive="Active-Page" (click)="clickOut();" class="Nav_Button">Apps</a>
            <a (click)="clickOut(); openMusicDialog();" class="Nav_Button">Music</a>
        </div>

        <div class="Side_Nav_Closer">
            <div class="Side_Nav_Border">-</div>
            <a class="Side_Nav_Contact" routerLink="/Contact">CONTACT US</a>
            <a class="Side_Nav_Dashboard" routerLink="/">DASHBOARD</a>
        </div>
    </div>
</nav>