<div class="Chaos_Body Page_Content">
    <div id="canvas-container"></div>

    <!-- <div class="Slide_Up" id="Slide_Up">
        <div class="Fireworks_Control_Button" id="Fireworks_Control_Button" onclick="toggleController()">
            Fireworks Controller
        </div>
        <div class="Slide_Content" id="Slide_Content">
            <div class="Presets">
                <div class="Dropdown_Button" id="Dropdown_Button" onclick="togglePresetsDropdown()">
                    <table style="width: 100%;">
                        <td style="text-align: left;">Preset Fireworks:
                            <p style="display: inline;" id="text_change">Default</p>
                        </td>
                        <td class="fas fa-caret-down"></td>
                    </table>
                </div>
                <div class="Dropdown_Content" id="Dropdown_Content">
                    <button onclick="defaultFireworks()">Default</button>
                    <button onclick="longFall()">Long Fall</button>
                    <button onclick="antiGravity()">Anti-Gravity</button>
                    <button onclick="slowLaunch()">Slow Launch</button>
                    <button onclick="randomTrails()">Random Trails</button>
                </div>
            </div>
        </div>
    </div> -->
</div>