<div class="Page Page_Content">
    <div class="Title">
        <h1>Privacy Policy</h1>
        <p style="color: gray;">~Last updated November, 12th 2019</p>
    </div>

    <!--#region Intro-->
    <div class="Intro">
        <br>
        <p>Welcome to Chaos & Art. The protection of personal data and information is of highest importance to Chaos
            & Art. We may collect and use basic data and information to aid in our services and products. By using
            Chaos & Art services, you approve Chaos & Art and affiliated companies to process your Personal Data. If
            you donot accept the terms of this Privacy Policy and do not want Chaos & Art to collect, store, and
            process your Personal Data, please refrain from using any of our services, websites, games, apps, and
            mobile applications. This Privacy Policy outlines the information that we collect and how we use and
            process this data.
        </p>
        <br>
        <p>(This Privacy Policy is applicable to all our services)</p>
    </div>
    <!--#endregion-->

    <!--#region Contents-->
    <div class="Contents">
        <h2>Contents</h2>
        <h3>1. Personal Data we collect</h3>
        <h3>2. What Personal Data is used for</h3>
        <h3>3. How long we keep Personal Data</h3>
        <h3>4. Sharing of Personal Data</h3>
        <h3>5. What are my Rights</h3>
        <h3>6. Security</h3>
        <h3>7. Privacy Policy Changes</h3>
    </div>
    <!--#endregion-->

    <!--#region Personal Data we collect-->
    <div class="PrivacyTerms">
        <h2>1. Personal Data we collect</h2>
        <p>~ Chaos & Art may collect and processes your information when you use our services. We typically collect
            personal data in the following formats:</p>
        <h3>● IDFA publicity identifiers (for IOS devices) and GAID (for Android devices).</h3>
        <h3>● Identity Related Data: Your Contact information will be collected when filling out a contact form on
            our Website or by any other means.</h3>
        <h3>● Implementation of Third Parties among our services:</h3>
        <h4>- Google Analytics (Analytics)</h4>
        <h4>- Google Admob (Advertising)</h4>
        <h4>- Unity Ads (Game Development)</h4>
        <br>
        <p>~ Before any additional Data is collected, a pop-up within our applications allows for consent for which
            data we’d like to collect, and can be revoked at any time from the device settings for our applications.
        </p>
    </div>
    <!--#endregion-->

    <!--#region Personal Data we collect1.1-->
    <div class="PrivacyTerms">
        <h2>1.1 Children</h2>
        <p>~ Chaos & Art does not intentionally collect data and personal information from children. Services
            offered by Chaos & Art are not intended for children under the age of 13 unless explicitly stated. Any
            Minor that uses Chaos & Art services represent that you are; either an emancipated minor, or have
            obtained the legal consent of your parent or legal guardian to enter into these Terms, submit content,
            participate through the Services and fulfill the obligations set forth in these Terms.
        </p>
    </div>
    <!--#endregion-->

    <!--#region What Personal Data is used for-->
    <div class="PrivacyTerms">
        <h2>2. What Personal Data is used for</h2>
        <p>~ Personal Data we collect is used to:</p>
        <h3>● Grow and improve our services</h3>
        <h3>● Analyze user statistics to create better games, and apps that appeal to the user</h3>
        <h3>● Provide support and respond to inquiries</h3>
    </div>
    <!--#endregion-->

    <!--#region How long we keep Personal Data-->
    <div class="PrivacyTerms">
        <h2>3. How long we keep Personal Data</h2>
        <p>~ Chaos & Art may keep your Personal Data for up to 12 months, unless legal authorities mandate a
            differing data holding period.</p>
        <p>~ Once term is expired, we may continue to hold user Data to help with statistics and enhancing our
            services, however personal association with this data will become anonymous.</p>
    </div>
    <!--#endregion-->

    <!--#region Sharing of Personal Data-->
    <div class="PrivacyTerms">
        <h2>4. Sharing of Personal Data</h2>
        <p>~ Chaos & Art may share Data with affiliated third parties under the following:</p>
        <h3>● Google Analytics</h3>
        <h3>● Google AdMob</h3>
        <h3>● Unity</h3>
        <br>
        <p>~ Information that we may collect and share with are partners:</p>
        <h3>● To provide and grow our services.</h3>
        <h3>● To perform service and advertising analytics</h3>
        <h3>● To appeal to our users</h3>
        <br>
        <p>~ In the unlikely event that Chaos & Art be sold to or merged with a third party, said third parties may
            access your Personal Data. In this occurrence, Chaos & Art will transfer all Personal Data to affiliated
            third party.</p>
    </div>
    <!--#endregion-->

    <!--#region Government Authorities-->
    <div class="PrivacyTerms">
        <h2>4.1 Government Authorities</h2>
        <p>~ We collaborate with the government and law enforcement to abide by the law. Under the appropriate
            circumstances, Chaos & Art may have to share your Personal Data with government or law enforcement
            officials. Chaos & Art will not disclose such events unless required by law.</p>

    </div>
    <!--#endregion-->

    <!--#region My Rights to Data-->
    <div class="PrivacyTerms">
        <h2>5. My Rights to Data</h2>
        <p>~ You can request access to your Personal Data</p>

        <p>~ Delete, or revise your Personal Data</p>

        <p>~ Object collecting and processing your Personal Data</p>

        <p>~ Under certain circumstances, the law has exceptions to these rights. In said circumstance, we will
            explain why you can’t implement these rights.</p>
    </div>
    <!--#endregion-->

    <!--#region Security-->
    <div class="PrivacyTerms">
        <h2>6. Security</h2>
        <p>~ Chaos & Art takes security very seriously, and use appropriate security evaluations to protect and to
            prevent loss or unauthorized access to Personal Data.</p>

        <p>~ Chaos & Art uses encrypted data handling, password safeguards, and firewalls to keep your Data as
            secure as possible.</p>

        <p>~ Note that there is no flawless means of protecting your data to impeccable measures. If Chaos & Art
            becomes aware of any illegal access to Personal Data concerning you, Chaos & Art will conduct
            appropriate legal evaluations.</p>
    </div>
    <!--#endregion-->

    <!--#region Privacy Policy Changes-->
    <div class="PrivacyTerms">
        <h2>7. Privacy Policy Changes</h2>
        <p>~ Chaos & Art reserves the right to modify this Privacy Policy at any time, and encourage you to review
            this Policy frequently.</p>

        <p>~ Any adjustments made to this Privacy Policy, you will be provided with appropriate notice in accordance
            with legal requirements.</p>

        <p>~ Your continued use the services after Chaos & Art makes changes to this Privacy Policy shall signify
            that you agree with these changes.</p>

        <p>~ If you do not accept changes made to this Privacy Policy, please refrain from using our services.</p>
    </div>
    <!--#endregion-->

</div>