<div class="Page Page_Content">
    <div class="Title">
        <h1>Terms and Conditions</h1>
        <p style="color: gray;">~Last updated November, 12th 2019</p>
    </div>

    <!--#region Intro-->
    <div class="Intro">
        <br>
        <p>Welcome to Chaos & Art. We publish games, apps, create websites, write other software programs, and
            assist in publishing inquiries. By using Chaos & Art services, you agree to our Terms. If you do not
            accept these Terms, please refrain from using any of our services, websites, games, apps, software
            programs, and mobile applications. The following Terms and Conditions are to outline the Terms and
            Conditions while using any one of our services owned by Chaos & Art.</p>
        <br>
        <p>(This Terms and Conditions form is applicable to all our services)</p>
    </div>
    <!--#endregion-->

    <!--#region Contents-->
    <div class="Contents">
        <h2>Contents</h2>
        <h3>1. Terms</h3>
        <h3>2. Privacy Policy</h3>
        <h3>3. Third Parties</h3>
        <h3>4. Use of Services</h3>
        <h3>5. Publishing</h3>
        <h3>6. Liability</h3>
        <h3>7. Indemnity</h3>
        <h3>8. General</h3>
    </div>
    <!--#endregion-->

    <!--#region Terms-->
    <div class="PrivacyTerms">
        <h2>1. Terms</h2>
        <p>~ These Terms and Conditions governs the agreement between you and Chaos & Art, and all its services,
            including but not limited to: Chaos & Art, Chaos & Art Games, our websites, games, apps, software
            programs, and mobile applications.</p>
        <br>
        <p>~ Chaos & Art reserves the right to modify the Terms and Conditions at any time, and encourage you to
            review our Terms frequently. Any adjustments made to the Terms and Conditions, you will be provided with
            appropriate notice in accordance with legal requirements.</p>
        <br>
        <p>~ Your continued use of the services after Chaos & Art makes changes to the Terms and Conditions shall
            signify that you agree with these changes. If you do not accept changes made to the Terms and
            Conditions, please refrain from using our services.</p>
    </div>
    <!--#endregion-->

    <!--#region Privacy Policy-->
    <div class="PrivacyTerms">
        <h2>2. Privacy Policy</h2>
        <p>~ The services offered by Chaos & Art are for all our users to enjoy. We try to bring the best experience
            to you and in doing so, may collect data to do so. Please refer to our <a
                routerLink="/Privacy-Policy">Privacy Policy</a> to aid in understanding what data we collect.</p>
    </div>
    <!--#endregion-->

    <!--#region Third parties-->
    <div class="PrivacyTerms">
        <h2>3. Third parties</h2>
        <p>~ Chaos & Art uses Third Party resources for creation, analytics, and advertising from the following:</p>
        <h3>● Google Analytics</h3>
        <h3>● Google AdMob</h3>
        <h3>● Flutter</h3>
        <h3>● Xcode</h3>
        <h3>● Unity</h3>
        <h3>● React Native</h3>
        <br>
        <p>~ Our services may include links to third party websites, or resources. Chaos & Art is not accountable
            for content, images, videos, products, or resources from these third parties. You acknowledge
            responsibility for and assume all risk by accessing these third parties websites or resources.</p>
    </div>
    <!--#endregion-->

    <!--#region Use of Services-->
    <div class="PrivacyTerms">
        <h2>4. Use of Services</h2>
        <p>~ Chaos & Art Services are designed for personal use only unless explicitly stated otherwise. You
            accept not to sell, or market our services. You accept not to decompile, disassemble, reverse engineer,
            reproduce, distribute, disseminate or transfer any information, any software, and any product owned by
            Chaos & Art unless permitted.</p>

        <p>~ Creation and upload of user content, including gameplay or use of our services, is flattering.
            However, Chaos & Art does not take responsibility for any personal information released from such
            proceeding. You the user is solely responsible for your User Content, and take liability to all risks
            associated with the use of your User Content. Including, but not limited to, harm, defamation, obscene
            content, any reliance on User accuracy, completeness or usefulness by others, or any disclosure of your
            User Content that makes you or any third party identifiable.</p>

        <p>~ Services offered by Chaos & Art are not intended for children under the age of 13 unless explicitly
            stated. Any Minor that uses Chaos & Art services represent that you are; either an emancipated minor, or
            have obtained the legal consent of your parent or legal guardian to enter into these Terms, submit
            content, participate through the Services and fulfill the obligations set forth in these Terms.</p>
    </div>
    <!--#endregion-->

    <!--#region Publishing-->
    <div class="PrivacyTerms">
        <h2>5. Publishing</h2>
        <p>~ Chaos & Art offers the opportunity to Publish products under our name. By contacting Chaos & Art for
            business inquiries, you are liable for all uploaded content, and communications that are shared with us.
            Chaos & Art is not under any commitment of sent components, and is not under any restriction to return
            components to you.</p>

        <p>~ When publishing to Chaos & Art, you agree to all precautions accordingly, grant Chaos & Art, free of
            charge and undeniable permission to access and use this content pertaining to your request.</p>
    </div>
    <!--#endregion-->

    <!--#region Liability-->
    <div class="PrivacyTerms">
        <h2>6. Liability</h2>
        <p>~ By using Chaos & Art Services, you expressly acknowledge the risk of using our services, websites,
            games, apps, and mobile applications. Under applicable law, Chaos & Art, and its affiliations will not
            be liable for any indirect, incidental, special, punitive, exemplary, or consequential damages,
            including lost profits, loss of data or goodwill, service interruption, computer damage or system
            failure or the cost of substitute services, arising out of or in connection with these terms.</p>

        <p>~ Some jurisdiction does not allow the limitation, exclusion, or disclaimer of liability for incidental
            or consequential damages. The above limitation or exclusion may not apply to you and in such
            jurisdictions, the exclusions and liability are limited to the fullest extent permitted by law.</p>
    </div>
    <!--#endregion-->

    <!--#region Indemnity-->
    <div class="PrivacyTerms">
        <h2>7. Indemnity</h2>
        <p>~ On the occasion Chaos & Art asks you to do so, you accept to defend, indemnify, and hold Chaos
            & Art and its affiliates innocuous from and against any claims, suits, losses, damages, liabilities,
            costs, expenses, including lawyers’ fees, resulting from violation of these Terms, breach of these
            Terms, violation of any rights of another, and violation of any Chaos & Art Policies.</p>

        <p>~ Chaos & Art will use rational means to contact you of such claims, actions, or proceedings, and as a
            user of Chaos & Art Services, agree to cooperate with our defense on such statements.</p>
    </div>
    <!--#endregion-->

    <!--#region General-->
    <div class="PrivacyTerms">
        <h2>8. General</h2>
        <p>~ Chaos & Art Terms and Conditions, constitute the entire and complete understanding and agreement
            between Chaos & Art, and you regarding all of our Services.</p>

        <p>~ If any one of the Terms proves to be unnecessary, invalid, or unlawful, and unenforceable by a court of
            competent jurisdiction will be acted on accordingly:</p>
        <h3>● Said term will be analyzed with applicable legislation to suit Chaos & Art’s primary intentions.</h3>
        <h3>● The other terms will remain unchanged and will continue to apply as if the unnecessary, invalid, or
            unlawful provisions were no longer contained in the Terms.</h3>

        <p>~ Chaos & Art is not liable with respect to any damages, injuries, nonperformance or delay in performance
            by reason of any act of weather, fire, flood, network failure, or any other cause beyond its respective
            control.</p>

        <p>~ In the occurrence that Chaos & Art fails to enforce any right or allocating these Terms and Conditions,
            will not be considered a waiver of this right or allocation. Waiver of right or allocation will only be
            accepted in writing, and signed by a respected representative of Chaos & Art.</p>

        <p>~ Chaos & Art makes no representation that content within our Services are appropriate or available for
            use in jurisdictions outside the United States, or that these Terms complies with the laws of any
            country outside the U.S.</p>

        <p>~ Visitors who use our Services and reside outside of the U.S. do so on their own initiative and are
            responsible for compliance with all laws, and to the extent that local laws are applicable. You agree
            that you will not access the Services from any territory where its contents are illegal, and that you
            and not Chaos & Art, are responsible for compliance with applicable local laws.</p>

    </div>
    <!--#endregion-->
</div>