<h2 class="title">Art</h2>

<mat-tab-group mat-stretch-tabs scrollToCenter dynamicHeight>
    <mat-tab label="Recently Added">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque eros
        quis orci aliquam blandit. Phasellus feugiat aliquam turpis vitae porttitor. Vestibulum quis finibus enim.
        Ut
        bibendum scelerisque molestie. In imperdiet consectetur ipsum, et rhoncus ligula fringilla non. Integer
        pulvinar
        dapibus urna quis tempor. Morbi non purus imperdiet, eleifend turpis vitae, pulvinar odio. Ut placerat, mi
        sit
        amet faucibus sollicitudin, urna arcu tempor odio, vel eleifend mauris arcu vel diam. Praesent dolor dui,
        vulputate in mattis porttitor, efficitur ut diam. Nunc lobortis ac magna vel rhoncus. Quisque porta, justo
        sit
        amet elementum convallis, magna ex eleifend nisl, sit amet dictum sapien elit in ligula. Aliquam fermentum
        maximus felis id consequat. Aenean pellentesque metus nec mi commodo dictum.

        Donec eu accumsan arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae;
        Quisque mollis imperdiet risus quis consequat. Curabitur vulputate mauris nibh, vel dignissim erat auctor
        ac.
        Proin tempor facilisis risus nec interdum. Phasellus blandit sem magna, id sodales erat pellentesque sit
        amet.
        Quisque ac ullamcorper lacus, id mattis nisl. In pretium, sapien quis ullamcorper molestie, urna orci
        hendrerit
        velit, in aliquam orci odio vitae lectus. Nullam laoreet consequat libero porttitor posuere. Proin odio
        velit,
        vulputate id finibus eget, accumsan eget nunc. Fusce elementum quis nibh eu auctor. Suspendisse odio enim,
        pellentesque eu odio quis, consectetur varius massa. Duis convallis massa dui, condimentum suscipit felis
        mattis
        at. Nam mattis lorem sapien, a tempus enim eleifend eu. In egestas, turpis eu euismod congue, lacus odio
        eleifend tortor, at convallis lacus lectus consequat purus. Vestibulum semper nulla dui, eu vulputate ante
        euismod non.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque eros quis orci aliquam
        blandit.
        Phasellus feugiat aliquam turpis vitae porttitor. Vestibulum quis finibus enim. Ut bibendum scelerisque
        molestie. In imperdiet consectetur ipsum, et rhoncus ligula fringilla non. Integer pulvinar dapibus urna
        quis
        tempor. Morbi non purus imperdiet, eleifend turpis vitae, pulvinar odio. Ut placerat, mi sit amet faucibus
        sollicitudin, urna arcu tempor odio, vel eleifend mauris arcu vel diam. Praesent dolor dui, vulputate in
        mattis
        porttitor, efficitur ut diam. Nunc lobortis ac magna vel rhoncus. Quisque porta, justo sit amet elementum
        convallis, magna ex eleifend nisl, sit amet dictum sapien elit in ligula. Aliquam fermentum maximus felis id
        consequat. Aenean pellentesque metus nec mi commodo dictum.

        Donec eu accumsan arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae;
        Quisque mollis imperdiet risus quis consequat. Curabitur vulputate mauris nibh, vel dignissim erat auctor
        ac.
        Proin tempor facilisis risus nec interdum. Phasellus blandit sem magna, id sodales erat pellentesque sit
        amet.
        Quisque ac ullamcorper lacus, id mattis nisl. In pretium, sapien quis ullamcorper molestie, urna orci
        hendrerit
        velit, in aliquam orci odio vitae lectus. Nullam laoreet consequat libero porttitor posuere. Proin odio
        velit,
        vulputate id finibus eget, accumsan eget nunc. Fusce elementum quis nibh eu auctor. Suspendisse odio enim,
        pellentesque eu odio quis, consectetur varius massa. Duis convallis massa dui, condimentum suscipit felis
        mattis
        at. Nam mattis lorem sapien, a tempus enim eleifend eu. In egestas, turpis eu euismod congue, lacus odio
        eleifend tortor, at convallis lacus lectus consequat purus. Vestibulum semper nulla dui, eu vulputate ante
        euismod non.

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pellentesque eros quis orci aliquam
        blandit.
        Phasellus feugiat aliquam turpis vitae porttitor. Vestibulum quis finibus enim. Ut bibendum scelerisque
        molestie. In imperdiet consectetur ipsum, et rhoncus ligula fringilla non. Integer pulvinar dapibus urna
        quis
        tempor. Morbi non purus imperdiet, eleifend turpis vitae, pulvinar odio. Ut placerat, mi sit amet faucibus
        sollicitudin, urna arcu tempor odio, vel eleifend mauris arcu vel diam. Praesent dolor dui, vulputate in
        mattis
        porttitor, efficitur ut diam. Nunc lobortis ac magna vel rhoncus. Quisque porta, justo sit amet elementum
        convallis, magna ex eleifend nisl, sit amet dictum sapien elit in ligula. Aliquam fermentum maximus felis id
        consequat. Aenean pellentesque metus nec mi commodo dictum.

        Donec eu accumsan arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        curae;
        Quisque mollis imperdiet risus quis consequat. Curabitur vulputate mauris nibh, vel dignissim erat auctor
        ac.
        Proin tempor facilisis risus nec interdum. Phasellus blandit sem magna, id sodales erat pellentesque sit
        amet.
        Quisque ac ullamcorper lacus, id mattis nisl. In pretium, sapien quis ullamcorper molestie, urna orci
        hendrerit
        velit, in aliquam orci odio vitae lectus. Nullam laoreet consequat libero porttitor posuere. Proin odio
        velit,
        vulputate id finibus eget, accumsan eget nunc. Fusce elementum quis nibh eu auctor. Suspendisse odio enim,
        pellentesque eu odio quis, consectetur varius massa. Duis convallis massa dui, condimentum suscipit felis
        mattis
        at. Nam mattis lorem sapien, a tempus enim eleifend eu. In egestas, turpis eu euismod congue, lacus odio
        eleifend tortor, at convallis lacus lectus consequat purus. Vestibulum semper nulla dui, eu vulputate ante
        euismod non.
    </mat-tab>

    <mat-tab label="Photos">
        <app-custom-card [data]="secondData"></app-custom-card>
    </mat-tab>
    <mat-tab label="Videos"> Videos</mat-tab>
    <mat-tab label="Drawings"> Drawings </mat-tab>
    <mat-tab label="Paintings"> Paintings</mat-tab>
</mat-tab-group>