<h2 class="title">Art</h2>

<mat-tab-group mat-stretch-tabs scrollToCenter dynamicHeight animationDuration="5ms" preserveContent>
    <mat-tab label="Recently Added">
        <!-- Supposedly this is used to lazy load (ng-template) -->
        <ng-template matTabContent> 
            <app-custom-image [data]="recentData"></app-custom-image>
        </ng-template>
    </mat-tab>
    <mat-tab label="Photos">
        <ng-template matTabContent>
            <app-custom-image [data]="photoData"></app-custom-image>
        </ng-template>
    </mat-tab>
    <mat-tab label="Videos">
        <ng-template matTabContent>
            <app-custom-image [data]="videoData"></app-custom-image>
        </ng-template>
    </mat-tab>
    <mat-tab label="Drawings">
        <ng-template matTabContent>
            <app-custom-image [data]="drawingData"></app-custom-image>
        </ng-template>
    </mat-tab>
    <mat-tab label="Paintings">
        <ng-template matTabContent>
            <app-custom-image [data]="paintingData"></app-custom-image>
        </ng-template>
    </mat-tab>
</mat-tab-group>