.title {
    padding: 75px 0 25px;
    margin: auto;
    text-align: center;
}

// ::ng-deep .mat-tab-header-pagination {
//     display: none !important;
// }

// ::ng-deep .mat-tab-header {
//   overflow-x: scroll !important;
// }

// ::ng-deep .mat-tab-label-container {
//   overflow: visible !important;
// }

// ::ng-deep .mat-tab-header::-webkit-scrollbar {
//     display: none !important;
// }

::ng-deep .mat-tab-group {
    .mat-tab-header {
        ::-webkit-scrollbar {
            display: none !important;
        }
        .mat-tab-header-pagination {
            display: none !important;
        }
        .mat-tab-label-container {
            left: 0px;
            width: 100%;
            .mat-tab-list {
                overflow-x: auto !important;
                transform: none !important;
                .mat-tab-labels {
                    .mat-tab-label {
                        padding: 1.25% !important;
                        margin: 0px !important;
                        text-transform: uppercase;
                        color: black;
                        font-weight: 600;
                        min-width: 140px !important;
                    }
                }
            }
        }
    }
}
