@import "~@angular/material/theming";
@include mat-core();

$mat-primary-scheme: (
  100: #c5cae9,
  500: #61699a,
  700: #303f9f,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #ffffff,
    700: #ffffff,
  ),
);

$mat-accent-scheme: (
  100: #ff80ab,
  500: #ff4081,
  700: #f50057,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  ),
);

$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

.light-mode {
  @include angular-material-theme($app-light-theme);

  .Dashboard {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(174, 200, 212) 0%, rgb(100, 127, 131) 90%);

    .Dashboard-Links a {
      background: #eee;
      color: black;
      border: solid 2px #eee;
    }

    .Dashboard-Links a:hover,
    .Dashboard-Links a:focus,
    .Dashboard-Links a:active {
      background: #ccc !important;
      border-color: #ccc !important;
      color: #333;
    }
  }
}

.dark-mode {
  @include angular-material-theme($app-dark-theme);

  background-color: #333;
  color: whitesmoke;

  .Box {
    background-color: #222;
  }

  .carousel {
    background-color: #222;
  }

  .Dashboard {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(112, 144, 161) 0%, rgb(24, 37, 39) 90%);

    .Dashboard-Links a {
      background: #333;
      color: whitesmoke;
      border: solid 2px #333;
    }

    .Dashboard-Links a:hover,
    .Dashboard-Links a:focus,
    .Dashboard-Links a:active {
      background: #222 !important;
      border-color: #222 !important;
      color: #ddd;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
