<div class="Chaos-Header">
    <h2>Chaos</h2>
</div>

<div class="Chaos-Box">
    <button mat-stroked-button routerLink="/Chaos/Minecraft">Minecraft</button>
    <button mat-stroked-button routerLink="/Chaos/Fireworks">Fireworks</button>
    <button mat-stroked-button routerLink="/Chaos/WebGames">2048</button>
    <button mat-stroked-button routerLink="/Chaos/DotGame">Dot Game</button>
    <button mat-stroked-button routerLink="/Chaos/Algorithms">Algorithms</button>
    <button mat-stroked-button routerLink="/Chaos/Dino Run">Dino Run</button>
    <button mat-stroked-button routerLink="/Chaos/Latest">Latest</button>
</div>